.navTextMain, H1{
    color: rgb(50, 172, 141);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
 background-color: #173e43;
 color: rgb(50, 172, 141);
}

#darkMode{
    background-color:darkgray;
    color: white;
    border-radius: .5rem;
}

#chatStuff{
    max-width: auto;
    display:inline-flexbox;
    background-color:transparent;
    height: auto;   
    text-align: left;
    padding: .3rem;
    margin-top: .3rem;
    border:none;
}

#broadcast_data{
    width:20rem;
}

.UserList{
    background-color:darkslategray;
    margin-top: -1rem;
    padding-top: .2rem;
}

#sideAdd{
    position:relative;
    left:10rem;
    bottom: 2rem;
}

#others{
    align-content:right;
}


/* close and edit buttons here*/
.edit{
    border:transparent;
    background-color:transparent;
    padding:0%;
    margin:0%;
}

.edit:hover{
    border:transparent;
    background-color:transparent;
    background-color:goldenrod;
    border-radius: 5rem;
}

#closeX{
    color:red;
    border:transparent;
    width:2rem;
    height:auto;
    display: inline-flexbox;
    position:relative;
}

#closeX:hover{
    color:red;
    border:transparent;
    align-content: left;
}

#editB{
    display: inline-block;
    margin:0%;
    padding:0%;
 }

 #editImage{
     height:1.2rem;
     width:1.2rem;
     padding:0%;
     margin:0%;
 }


 /* users added here */


/* Send Message button */
#submitBlock{
    border:none;
    display: grid;
    place-items: center;
}

#submitMessage{
    background-image: url("./images/send1.png");
    margin: .4rem;
    width:3rem;
    height:3rem;
    background-size: 100% 100%;
    border:none;
    border-radius: 100rem;
    background-color: transparent;
    background-repeat: no-repeat;
}

#broadcast{
    display:-ms-inline-flexbox;
}

#messageArea{
    width:max-width;
    height: 30rem;
}